.candidate-detail-layout {
  padding-right: 40px;
  padding-left: 40px;
}

@media screen and (max-width: 991px) {
  .candidate-detail-layout {
    padding-right: 24px;
    padding-left: 24px;
  }
}

.candidate-detail-page {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  flex-direction: column;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

@media screen and (max-width: 991px) {

}