.coach-profile-layout {
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
  background-color: var(--bgGrey100-ce47127d);
}

.coach-profile-wrapper {
  display: flex;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding: 40px 32px 32px;
  flex-direction: column;
  grid-column-gap: 40px;
  grid-row-gap: 32px;
}

@media screen and (max-width: 479px) {
  .coach-profile-wrapper {
    grid-row-gap: 24px;
  }
}

.profile-header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  grid-column-gap: 32px;
  grid-row-gap: 16px;
}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 479px) {
  .profile-header-wrap {
    flex-wrap: wrap;
  }
}

.profile-header-wrap.gap-12 {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.profile-header-wrap.space-between {
  justify-content: space-between;
}

.profile-header-wrap.space-between.align-top {
  align-items: flex-start;
}

.profile-header-wrap.gap-16 {
  grid-column-gap: 16px;
}

.profile-header-wrap.gap-16.wrap {
  flex-wrap: wrap;
}

.profile-header-wrap.gap-60 {
  grid-column-gap: 60px;
}

.text-xxl-bold {
  font-size: 26px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: 0.35px;
}

.buttons-wrap-profilr {
  display: flex;
  align-items: flex-start;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.button {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border-radius: 100px;

  background-color: var(--black-0fdbd865);

  transition: all 300ms ease;

  color: var(--white-80449ce7);
  line-height: 20px;
  font-weight: 500;
  text-decoration: none;

  cursor: pointer;
}

.button:hover {
  background-color: hsla(0, 0.00%, 0.00%, 0.80);
}

.button.is-green {
  flex: 0 0 auto;
  border: 1px solid var(--green500-287ff474);
  background-color: var(--green600-40a2ee5f);
  color: var(--white-80449ce7);
  cursor: pointer;
}

.button.is-green:hover {
  background-color: var(--green500-287ff474);
}

.button.is-green.small {
  padding: 6px 8px;
}

.button.is-green.align-right {
  align-self: flex-end;
}

.button.is-green.medium {
  line-height: 1;
}

.button.is-blue {
  background-color: var(--blue600-aad8d97e);
}

.button.align-left {
  align-self: flex-start;
}

.button.meeting {
  padding: 8px 14px;
  background-color: var(--blue400-49d60774);
  font-size: 12px;
  line-height: 1;
}

.button.meeting:hover {
  background-color: var(--blue300-2a96c522);
  color: var(--grey700-7fbe857b);
}

.button.medium {
  line-height: 1.2;
}

.setting-icon-button {
  width: 32px;
  height: 32px;
  padding: 8px;

  border-radius: 50%;

  background-color: var(--bgGrey200-4f66792c);

  cursor: pointer;
}

.link-embed-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-embed-icon.nav {
  position: relative;
}

.link-embed-icon.green {
  color: var(--green400-da388a85);
}

.profile-settings {
  display: flex;
  align-items: flex-start;
  grid-column-gap: 32px;
}

.setting-dropdown {
  position: relative;
  padding-bottom: 10px;
}

.setting-dropdownlist {
  position: absolute;

  display: none;
  width: 130px;
  margin-top: 2px;
  padding: 6px;
  flex-direction: column;

  border-radius: 8px;

  background-color: var(--bgGrey100-ce47127d);

  box-shadow: 0 2px 9px 0 rgba(0,0,0,0.2);
}

.setting-option {
  padding: 2px 4px;

  border-radius: 4px;

  transition: all 200ms ease;

  font-weight: 400;
  text-align: center;

  cursor: pointer;
}

.setting-option:hover {
  background-color: var(--grey200-9ba653f1);
}

.coach-profile-grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 479px) {
  .coach-profile-grid {
    grid-row-gap: 24px;
  }
}

.coach-profile-main-details {
  display: flex;
  align-items: stretch;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

@media screen and (max-width: 479px) {
  .coach-profile-main-details {
    flex-direction: column;
  }
}

.your-profile-image {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: var(--skeletonGrey-4e9a134f);
}

.profile-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.profile-content.gap-18 {
  grid-column-gap: 18px;
  grid-row-gap: 18px;
}

.profile-content.stretch {
  flex: 1;
}

.text-xl-bold {
  font-size: 22px;
  line-height: 1.1;
  font-weight: 600;
}

.margin-bottom-6 {
  margin-bottom: 6px;
}

.coach-stack-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.text-md-default {
  letter-spacing: -0.15px;
}

.text-color-grey {
  color: var(--textLightGrey-914158a7);
}

.text-color-dark-grey {
  color: var(--textDarkGrey-65de823a);
}

.coach-profile-content-wrapper {
  display: flex;
  flex-direction: column;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.text-lg-bold {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: -0.45px;
}

.text-align-center {
  text-align: center;
}

.coach-stack-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.coach-stack-row.gap-12 {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.coach-stack-row.space-between {
  justify-content: space-between;
}

.coach-stack-row.space-between.align-top {
  align-items: flex-start;
}

.coach-stack-row.gap-16 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.coach-stack-row.gap-16.wrap {
  flex-wrap: wrap;
}

.coach-stack-row.gap-60 {
  grid-column-gap: 60px;
}

.meeting-query-popup-wrap {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 5;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7));

  backdrop-filter: blur(10px);
}

.query-popup {
  display: flex;
  min-width: 55%;
  flex-direction: column;
  align-items: stretch;
  background-color: var(--bgGrey100-ce47127d);
}

.popup-header {
  display: flex;
  padding: 24px;
  justify-content: space-between;
  grid-column-gap: 32px;
  grid-row-gap: 32px;

  border-bottom: 1px solid var(--borderGrey-ea561a79);
}

.event-popup-close {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 4px;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  color: var(--grey600-d5bebe21);

  cursor: pointer;
}

.event-popup-close:hover {
  background-color: var(--bgGrey200-4f66792c);
  color: var(--black-0fdbd865);
}

.querypopup-slot {
  padding: 20px;
}

#w-node-d88d2a90-c026-3e82-c22b-bbbe02825f82-02825f77 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-d88d2a90-c026-3e82-c22b-bbbe02825f91-02825f77 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-d88d2a90-c026-3e82-c22b-bbbe02825f96-02825f77 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-d88d2a90-c026-3e82-c22b-bbbe02825fa2-02825f77 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}