.job-detail-wrap {
  display: flex;
  flex-direction: column;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
}

@media screen and (max-width: 991px) {
  .job-detail-wrap {
    max-width: 100%;
  }
}

.job-detail-stack-column {
  display: flex;
  flex-direction: column;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.text-xl-bold {
  font-size: 22px;
  line-height: 1.1;
  font-weight: 600;
}

.margin-bottom-6 {
  margin-bottom: 6px;
}

.coach-job-main-detail {
  display: flex;
  padding: 16px;
  align-items: flex-start;
  grid-column-gap: 16px;
  grid-row-gap: 16px;

  border: 1px solid var(--blue200-07311850);
  border-radius: 8px;

  background-color: var(--blue100-d2a1a159);

  transition: all 200ms ease;
}

@media screen and (max-width: 767px) {
  .coach-job-main-detail {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 80px 1fr;
    grid-template-rows: auto auto;
  }
}

.coach-job-logo-wrap {
  position: relative;

  display: flex;
  overflow: hidden;
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;

  border-radius: 8px;

  background-color: var(--skeletonGrey-4e9a134f);

  object-fit: cover;
}

.job-avatar-letter {
  position: absolute;
  z-index: 1;
  overflow: hidden;
  font-size: 0px;
  line-height: 1.2;
}

.coach-job-logo {
  position: relative;
  z-index: 2;

  width: 100%;
  height: 100%;

  background-color: var(--white-80449ce7);

  object-fit: contain;
}

.coach-job-detail-wrap {
  display: flex;
  flex-direction: column;
  flex: 1;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.coach-job-detail-wrap.gap-8 {
  grid-row-gap: 8px;
}

.coach-detail-row-stack {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

@media screen and (max-width: 767px) {
  .coach-detail-row-stack {
    flex-wrap: wrap;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }
}

.coach-detail-row-stack.stretch {
  align-items: stretch;
}

.coach-detail-row-stack.gap-40 {
  justify-content: flex-start;
  grid-column-gap: 40px;
}

@media screen and (max-width: 767px) {
  .coach-detail-row-stack.no-wrap {
    flex-wrap: nowrap;
  }
}

.text-lg-bold {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: -0.45px;
}

.text-align-center {
  text-align: center;
}

.job-pills-wrap {
  display: flex;
  grid-column-gap: 12px;
}

.job-type-pill {
  padding: 3px 10px;

  border-radius: 100px;

  background-color: var(--red200-4fbf95ba);

  color: var(--grey700-7fbe857b);
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  text-transform: capitalize;
}

.text-md-default {
  letter-spacing: -0.15px;
}

.text-color-grey {
  color: var(--textLightGrey-914158a7);
}

.text-color-dark-grey {
  color: var(--textDarkGrey-65de823a);
}

.coach-detail-buttons-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media screen and (max-width: 479px) {
  .coach-detail-buttons-wrap {
    align-items: flex-end;
  }
}

.button {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border-radius: 100px;

  background-color: var(--black-0fdbd865);

  transition: all 300ms ease;

  color: var(--white-80449ce7);
  line-height: 20px;
  font-weight: 500;
  text-decoration: none;

  cursor: pointer;
}

.button:hover {
  background-color: hsla(0, 0.00%, 0.00%, 0.80);
}

.button.is-green {
  flex: 0 0 auto;
  border: 1px solid var(--green500-287ff474);
  background-color: var(--green600-40a2ee5f);
  color: var(--white-80449ce7);
  cursor: pointer;
}

.button.is-green:hover {
  background-color: var(--green500-287ff474);
}

.button.is-green.small {
  padding: 6px 8px;
}

.button.is-green.align-right {
  align-self: flex-end;
}

.button.is-green.medium {
  line-height: 1;
}

.button.is-blue {
  background-color: var(--blue600-aad8d97e);
}

.button.align-left {
  align-self: flex-start;
}

.button.meeting {
  padding: 8px 14px;
  background-color: var(--blue400-49d60774);
  font-size: 12px;
  line-height: 1;
}

.button.meeting:hover {
  background-color: var(--blue300-2a96c522);
  color: var(--grey700-7fbe857b);
}

.button.medium {
  line-height: 1.2;
}

.link-embed-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-embed-icon.nav {
  position: relative;
}

.link-embed-icon.green {
  color: var(--green400-da388a85);
}

.already-in-wishlist {
  display: flex;
  padding: 8px 12px;
  flex-direction: row;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border-radius: 8px;

  background-color: var(--green300-027c1f43);

  color: var(--green700-a1b0a24f);
  font-weight: 600;
}

@media screen and (max-width: 479px) {
  .already-in-wishlist {
    grid-column-gap: 4px;
    font-size: 12px;
  }
}

.job-detail-block {
  display: flex;
  flex-direction: column;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.button-outlined {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;

  border: 1px solid var(--borderGrey-ea561a79);
  border-radius: 100px;

  background-color: var(--white-80449ce7);

  transition: all 300ms ease;

  color: var(--black-0fdbd865);
  line-height: 1;
  font-weight: 500;
  text-decoration: none;

  cursor: pointer;
}

.button-outlined:hover {
  border-color: var(--black-0fdbd865);
  background-color: var(--white-80449ce7);
  color: var(--black-0fdbd865);
}

.job-description-text {
  white-space: pre-wrap;
}

.original-job-link-wrap {
  display: flex;
  align-items: center;
  grid-column-gap: 6px;
}

.original-job-link-wrap.text-md-bold {
  flex-wrap: wrap;
}

.text-md-bold {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: -0.15px;
}

.external-link {
  color: var(--blue600-aad8d97e);
  font-size: 15px;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}

.external-link:hover {
  color: var(--blue700-c1b26211);
}

@media screen and (max-width: 767px) {
  #w-node-c58f9899-bf60-564e-fa98-fb0bb39929a2-b3992998 {
    grid-column-end: 3;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-row-start: 2;
  }
}
@media screen and (max-width: 479px) {
  #w-node-c58f9899-bf60-564e-fa98-fb0bb39929a2-b3992998 {
    grid-column-start: span 2;
    grid-column-end: span 2;
    grid-row-start: span 1;
    grid-row-end: span 1;
    order: 9999;
  }
}