.event-detail-popup-wrap {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 6;

  display: none;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7));

  backdrop-filter: blur(5px);
}

.event-detail-popup {
  display: flex;
  min-width: 350px;
  flex-direction: column;
  border-radius: 8px;
  background-color: var(--white-80449ce7);
}

.popup-header {
  display: flex;
  padding: 24px;
  justify-content: space-between;
  grid-column-gap: 32px;
  grid-row-gap: 32px;

  border-bottom: 1px solid var(--borderGrey-ea561a79);
}

.text-lg-bold {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: -0.45px;
}

.text-align-center {
  text-align: center;
}

.event-popup-close {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 4px;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  color: var(--grey600-d5bebe21);

  cursor: pointer;
}

.event-popup-close:hover {
  background-color: var(--bgGrey200-4f66792c);
  color: var(--black-0fdbd865);
}

.tabs-menu {
  display: flex;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.tabs-menu.events {
  margin-bottom: 32px;
}

.tablink {
  padding: 8px 24px;
  border: 1px solid var(--borderGrey-ea561a79);
  border-radius: 100px;
  background-color: var(--white-80449ce7);
  transition: all 300ms ease;
}

.tablink:hover {
  border-color: var(--black-0fdbd865);
}

.tablink:global(.w--current) {
  background-color: var(--black-0fdbd865);
  color: var(--white-80449ce7);
}

.empty-events {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column-gap: 24px;
  grid-row-gap: 24px;

  text-align: center;
}

.stack-column {
  display: flex;
  flex-direction: column;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.events-detail-block {
  padding: 12px 14px;
  border: 1px solid var(--borderGrey-ea561a79);
  border-radius: 8px;
  background-color: var(--bgGrey100-ce47127d);
}

.events-detail-block:hover {
  background-color: var(--blue100-d2a1a159);
}

.events-detail-block.skeleton:hover {
  background-color: var(--bgGrey100-ce47127d);
}

.events-detail-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  grid-row-gap: 14px;

  background-color: transparent;

  transition: all 200ms ease;

  cursor: pointer;
}

@media screen and (max-width: 479px) {
  .events-detail-wrapper {
    flex-wrap: wrap;
    align-items: flex-start;
    grid-row-gap: 12px;
  }
}

@media screen and (max-width: 991px) {
  .events-detail-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
}

.events-detail-wrapper.skeleton {
  padding-top: 5px;
  padding-bottom: 10px;
  cursor: auto;
}

.events-detail-wrapper.skeleton:hover {
  border-color: var(--borderGrey-ea561a79);
  background-color: var(--bgGrey100-ce47127d);
}

.events-detail-wrapper.past:hover {
  border-color: var(--borderGrey-ea561a79);
  background-color: var(--bgGrey100-ce47127d);
}

.events-detail-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  grid-column-gap: 32px;
  grid-row-gap: 16px;
}

@media screen and (max-width: 767px) {
  .events-detail-content {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 479px) {
  .events-detail-content {
    grid-row-gap: 8px;
  }
}

.event-image-name-wrap {
  display: flex;
  align-items: center;
  grid-column-gap: 12px;
}

@media screen and (max-width: 479px) {
  .event-image-name-wrap {
    grid-column-gap: 6px;
  }
}

.event-avatar {
  width: 40px;
  height: 40px;
  flex: 0 0 auto;
  border-radius: 50%;
  background-color: var(--skeletonGrey-4e9a134f);
}

.coach-event-name {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: -0.15px;
}

.coach-event-name.skeleton {
  font-family: 'Flow Circular';
  color: var(--skeletonGrey-4e9a134f);
  font-size: 20px;
}

.event-date-day-wrap {
  display: flex;
  min-width: 150px;
  flex-direction: row;
  grid-column-gap: 16px;
}

.text-md-skeleton {
  font-family: 'Flow Circular';
  color: var(--skeletonGrey-4e9a134f);
  font-size: 22px;
  line-height: 1;
}

.meeting-buttons-wrap {
  display: flex;
  align-items: center;
  grid-column-gap: 12px;
}

.view-detail-button-skeleton {
  padding: 2px 10px;
  border-radius: 100px;
  background-color: var(--skeletonGrey-4e9a134f);
  font-family: 'Flow Circular';
  color: var(--skeletonGrey-4e9a134f);
}

.view-details-button {
  display: flex;
  width: 28px;
  height: 28px;
  padding: 6px;
  justify-content: center;
  align-items: center;

  border-radius: 100px;

  background-color: var(--skeletonGrey-4e9a134f);

  transition: all 200ms ease;

  font-size: 12px;
  line-height: 1;

  cursor: pointer;
}

.view-details-button.skeleton {
  background-color: var(--skeletonGrey-4e9a134f);
  color: var(--skeletonGrey-4e9a134f);
}

.view-details-button.skeleton:hover {
  background-color: var(--skeletonGrey-4e9a134f);
}

.link-embed-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-embed-icon.nav {
  position: relative;
}

.link-embed-icon.green {
  color: var(--green400-da388a85);
}