.events-detail-wrapper {
  display: flex;
  padding: 12px 14px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  grid-row-gap: 14px;

  border: 1px solid var(--borderGrey-ea561a79);
  border-radius: 8px;

  background-color: var(--bgGrey100-ce47127d);

  transition: all 200ms ease;

  cursor: pointer;
}

.events-detail-wrapper:hover {
  border-color: var(--blue200-07311850);
  background-color: var(--blue100-d2a1a159);
}

@media screen and (max-width: 479px) {
  .events-detail-wrapper {
    flex-wrap: wrap;
    align-items: flex-start;
    grid-row-gap: 12px;
  }
}

@media screen and (max-width: 991px) {
  .events-detail-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
}

.events-detail-wrapper.skeleton {
  padding-top: 5px;
  padding-bottom: 10px;
  cursor: auto;
}

.events-detail-wrapper.skeleton:hover {
  border-color: var(--borderGrey-ea561a79);
  background-color: var(--bgGrey100-ce47127d);
}

.events-detail-wrapper.past:hover {
  border-color: var(--borderGrey-ea561a79);
  background-color: var(--bgGrey100-ce47127d);
}

.events-detail-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  grid-column-gap: 32px;
  grid-row-gap: 16px;
}

@media screen and (max-width: 767px) {
  .events-detail-content {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 479px) {
  .events-detail-content {
    grid-row-gap: 8px;
  }
}

.event-image-name-wrap {
  display: flex;
  grid-column-gap: 12px;
}

@media screen and (max-width: 479px) {
  .event-image-name-wrap {
    grid-column-gap: 6px;
  }
}

.coach-event-name {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: -0.15px;
}

.coach-event-name.skeleton {
  font-family: 'Flow Circular';
  color: var(--skeletonGrey-4e9a134f);
}

.event-date-day-wrap {
  display: flex;
  min-width: 150px;
  flex-direction: row;
  grid-column-gap: 16px;
}

.text-md-default {
  letter-spacing: -0.15px;
}

.text-color-grey {
  color: var(--textLightGrey-914158a7);
}

.text-color-dark-grey {
  color: var(--textDarkGrey-65de823a);
}

.view-details-button {
  padding: 8px 10px;

  border-radius: 100px;

  background-color: var(--green200-3c062f81);

  transition: all 200ms ease;

  font-size: 12px;
  line-height: 1;

  cursor: pointer;
}

.view-details-button:hover {
  background-color: var(--bgGrey200-4f66792c);
}

.view-details-button.skeleton {
  background-color: var(--skeletonGrey-4e9a134f);
  color: var(--skeletonGrey-4e9a134f);
}

.view-details-button.skeleton:hover {
  background-color: var(--skeletonGrey-4e9a134f);
}