.coach-dashboard-layout {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 65% 35%;
  grid-template-rows: auto;
}

.coach-dashboard-content-left {
  display: flex;
  padding: 40px;
  flex-direction: column;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.text-xl-bold {
  font-size: 22px;
  line-height: 1.1;
  font-weight: 600;
}

.text-align-center {
  text-align: center;
}

.margin-bottom-6 {
  margin-bottom: 6px;
}

.empty-events {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column-gap: 24px;
  grid-row-gap: 24px;

  text-align: center;
}

.text-md-bold {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: -0.15px;
}

.text-md-bold.color-red-500 {
  color: hsla(354.93506493506493, 66.96%, 54.90%, 1.00);
}

.text-md-bold.color-black {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.stack-column {
  display: flex;
  flex-direction: column;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.stack-column.padding-horizontal {
  padding-right: 14px;
  padding-left: 14px;
}

.candidate-request-stack {
  display: grid;
  padding: 12px 20px;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;

  border: 1px solid var(--borderGrey-ea561a79);
  border-radius: 8px;

  background-color: var(--bgGrey100-ce47127d);

  transition: all 300ms ease;

  cursor: pointer;
}

.candidate-request-stack:hover {
  border-color: var(--blue300-2a96c522);
  background-color: var(--blue100-d2a1a159);
}

.candidate-name-wrap {
  display: flex;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.candidate-name-wrap.skeleton {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.icon-embed {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
}

.icon-embed.skeleton {
  border-radius: 6px;
  background-color: var(--skeletonGrey-4e9a134f);
}

.text-lg-skeleton {
  font-family: 'Flow Circular';
  color: var(--skeletonGrey-4e9a134f);
  font-size: 24px;
  line-height: 1;
  font-weight: 600;
}

.request-day-grid {
  display: grid;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-columns: 100px 1fr;
  grid-template-rows: auto;
}

.text-md-skeleton {
  font-family: 'Flow Circular';
  color: var(--skeletonGrey-4e9a134f);
  font-size: 22px;
  line-height: 1;
}

.text-md-skeleton.text-color-dark-grey {
  color: var(--textDarkGrey-65de823a);
}

.text-color-dark-grey {
  color: var(--textDarkGrey-65de823a);
}

.coach-dashboard-content-right {
  display: flex;
  padding: 40px;
  flex-direction: column;
  grid-column-gap: 24px;
  grid-row-gap: 24px;

  background-color: var(--bgGrey100-ce47127d);
}

.coach-activity-stack {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hide {
  display: none;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.coach-activity-slot {
  width: 100%;
}

#w-node-a342ea11-9456-0294-b754-bd49b79f37f3-b79f37f2 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-a342ea11-9456-0294-b754-bd49b79f37fd-b79f37f2 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-a342ea11-9456-0294-b754-bd49b79f3801-b79f37f2 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-a342ea11-9456-0294-b754-bd49b79f3807-b79f37f2 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-a342ea11-9456-0294-b754-bd49b79f380b-b79f37f2 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-a342ea11-9456-0294-b754-bd49b79f3811-b79f37f2 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-a342ea11-9456-0294-b754-bd49b79f3815-b79f37f2 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-a342ea11-9456-0294-b754-bd49b79f381b-b79f37f2 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-a342ea11-9456-0294-b754-bd49b79f381f-b79f37f2 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-a342ea11-9456-0294-b754-bd49b79f3825-b79f37f2 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-a342ea11-9456-0294-b754-bd49b79f3829-b79f37f2 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-a342ea11-9456-0294-b754-bd49b79f382f-b79f37f2 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-a342ea11-9456-0294-b754-bd49b79f3833-b79f37f2 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-a342ea11-9456-0294-b754-bd49b79f3839-b79f37f2 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-a342ea11-9456-0294-b754-bd49b79f383d-b79f37f2 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-a342ea11-9456-0294-b754-bd49b79f3843-b79f37f2 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}