.coach-activity-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.text-md-default {
  letter-spacing: -0.15px;
}

.color-grey-600 {
  color: var(--grey600-d5bebe21);
}

.text-md-default.color-grey-700 {
  color: var(--grey700-7fbe857b);
}

.text-color-grey {
  color: var(--textLightGrey-914158a7);
}

.text-color-dark-grey {
  color: var(--textDarkGrey-65de823a);
}

.job-activity-item-separator {
  height: 24px;
  margin-left: 5px;
  border-left: 1px solid black;
}