.question-answer-wrap {
  display: flex;
  flex-direction: column;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.text-md-bold {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: -0.15px;
}

.text-md-bold.color-red-500 {
  color: hsla(354.93506493506493, 66.96%, 54.90%, 1.00);
}

.text-md-bold.color-black {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.text-color-grey {
  color: var(--textLightGrey-914158a7);
}