.container {
    display: flex;
}

.column {
    flex: 1;
}

.slot {
    width: 100%;
    background: rgb(255 0 0 / 10%);
    outline-offset: 2px;
    outline: 1px solid rgb(255 0 0 / 20%);
    border-radius: 4px;
    color: #49545c;
    font-weight: 500;
    font-size: 1rem;
    display: flex;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 1px 0 rgba(47, 57, 65, .1);
    justify-content: center;
}

.slot-content {
    display: flex;
    align-items: center;
}

.note {
    position: fixed;
    top: 80px;
    right: 20px;
    width: 100%;
    max-width: 300px;
    padding: 20px;
    background: rgba(255, 0, 242, 0.365);
    border-radius: 4px;
    color: #212121;
    font-weight: 500;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    z-index: 999;
}

.note-content {
    display: flex;
    align-items: center;
}

[class*="wf-slot"] {
    outline: 1px solid red;
    outline-offset: 2px;

}

[class*="wf-comp"] {
    outline: 1px solid red;
    outline-offset: 2px;
}

[class*="wf-rtp"] {
    outline: 1px solid red;
    outline-offset: 2px;
}

[class*="wf-vis"] {
    outline: 1px solid red;
    outline-offset: 2px;
}